/* CIS 124: Introduction to JavaScript
Chapter 4 & 5 Class Exercises
Dominique Tepper, 07NOV2022 */

body {
    font-family: 'Handlee', cursive;
    background-color: #F1DEDE;
    margin: 0 auto;
    width: 500px;
    border: 3px solid #FFB563;
    padding: 0 2em 1em;
    color: #191923;
}

p {
    color: #F1DEDE;
}

label {
    font-weight: bolder;
}

/* FOOTER. Tepper, 06NOV2022*/
footer {
    font-family: 'Handlee', cursive;
    font-display: block;
    background-color: #607196;
    width: 310px;
    color: #FFB563;
    padding-left: 38%;
    padding-top: 1px;
    padding-bottom: 1px;
}

h1 {
    font-family: 'Handlee', cursive;
    color: #191923;
    font-weight: bolder;
}

h2 {
    font-family: 'Handlee', cursive;
    color: #FFB563;
    font-weight: bolder;
}

h4 {
    font-family: 'Handlee', cursive;
    color: #191923;
    font-weight: bolder;
    font-style: italic;
}

div {
    margin-bottom: 1em;
}

label {
    display: inline-block;
    width: 11em;
    text-align: right;
}

input {
    margin-left: 1em;
    margin-right: 0.5em;
}

/* BUTTON. Tepper, 07NOV2022*/
.button1 {
    font-family: 'Handlee', cursive;
    background: #FFB563;
    color: #607196;
    margin-top: 10px;
    border: 1px solid #FFB563;
    padding: 10px 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.button1 a:link {
    text-decoration: none;
    color: #607196;
    font-weight: bold;
}

.button1 a:visited {
    text-decoration: none;
    color: #607196;
    font-weight: bold;
}

.button1 a:hover {
    text-decoration: none;
    color: #607196;
    font-weight: bold;
}

.button1 a:active {
    text-decoration: none;
    color: #607196;
    font-weight: bold;
}

.button2 {
    font-family: 'Handlee', cursive;
    background: #607196;
    color: #FFB563;
    margin-top: 10px;
    border: 1px solid #607196;
    padding: 10px 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.button2 a:link {
    text-decoration: none;
    color: #FFB563;
    font-weight: bold;
}

.button2 a:visited {
    text-decoration: none;
    color: #FFB563;
    font-weight: bold;
}

.button2 a:hover {
    text-decoration: none;
    color: #FFB563;
    font-weight: bold;
}

.button2 a:active {
    text-decoration: none;
    color: #FFB563;
    font-weight: bold;
}

/* CONTAINERS. Tepper, 07NOV2022*/
.card01 {
    font-family: 'Handlee', cursive;
    font-display: block;
    background-color: #607196;
    width: 475px;
    color: #FFB563;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.header_div {
    padding-left: 25%;
}

.tip_div {
    padding-left: 27%;
}

.return_div {
    padding-left: 32%;
}



/*
font-family: 'Handlee', cursive;
<font> Raisin Black: 191923
<bg> Lavender Gray: F1DEDE
<card> Blue Yonder: 607196
<pop1> Fuzzy Wuzzy: C16E70
<pop2> Rajah: FFB563
*/
